/*standard styles*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

body {
    background-color: #fffcd8;
    color: #1a1918; /* Negro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #f3808f;
}


h2{
    color: #f3808f;
    padding: 10px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    background-color: #2acbd3;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 100px;
}

#p_footer{
    background-color: #f3808f;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
}

/*Standard containers for use in pages*/
.content{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 10px;
    width: 90%;
}

.content1{
    margin-bottom: 20px;
    align-self: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 253, 253); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    gap: 20px;
    flex-direction: column;
    width: 50%;
    
}

.content1 img{
    width: 100%;
    object-fit: cover;
}

.content1 p{
    color: #333;
    font-size: 17px;
}
/*Standard containers for use in pages*/

/*Standard styles*/

/*Styles Nav*/
nav{
    background-color: #2acbd3;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.nav_a{
    display: inline-block;
    background-color: #f3808f;
    color: white;
    padding: 16px 55px;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#logop{
    width: 50px;
    height: 60px;
}

/*Styles Nav*/

/*Styles page Index*/



#helado{
    border: 3px solid white;
    border-radius: 10px;
}

#banner{
    object-fit: cover;
    width: 90%;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 70px;
    margin-top: 2vh;    
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

/*Styles page Index*/

/*Styles page About*/

/*Styles page About*/

/*Styles page Contact*/

.info{
    align-self: center;
    justify-content: space-around;
    display: flex;
    width: 80%;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom: 15px;
    height: 90%;
    flex-wrap: wrap;
    gap: 10px;
}

.info p{
    color: black;
    display: flex;
    
}


.content_contact{
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 90px;
    flex-direction: column;
    align-items: center;
}

/*Styles page Contact*/

/*Styles page Information*/

.main-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1440px;
    width: 100%;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    margin-top: 50px;
    margin-bottom: 50px ;
}
.container h1{
    padding: 2rem 1rem;
    font-size: 2.5rem;
    text-align: center;
}

caption{
    color: #f3808f;
    padding: 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table thead{
    background-color: #93e2f2;
    text-transform: uppercase;
    color: white;
}

.table thead tr th {
    font-size: 0.9rem;
    padding: 1.5rem;
    letter-spacing: 0.2rem;
    vertical-align: top;
    border: 2px solid #f3808f;
}

.table tbody tr td{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: normal;
    text-align: center;
    border: 2px solid #f3808f;
    padding: 3rem;
}

.table tr:nth-child(even){
    background-color: #f7deb2;
    transition: all 0.3s ease-in;
}

/*Styles page Information*/

/*Styles page BenefitsTips*/

.content-card-benefit{
    margin-bottom: 20px;
    align-self: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 253, 253); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    gap: 20px;
    flex-direction: column;
    width: 80%;
}

.content-card-benefit img{
    width: 100%;
    object-fit: cover;
}


.content-card-benefit li{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
}

.content-card-benefit ol{
    list-style: none;
    width: 125%;
}

/*Styles page BenefitsTips*/

/*Styles page Raffle*/

.content_raffle{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 25px;
    width: 90%;
    margin-bottom: 20px;
    flex-direction: column;
}

.map{
    align-self: center;
    display: flex;
}

.fieldset_complete{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 13px;
    border-radius: 2rem;
}

.fieldset_complete p{
    font-size: 18px;
}

button{
    padding: 10px;
    width: 65%;
}


/*Styles page Raffle*/

/*Media query*/
    @media (max-width: 768px) {

        /* Specific styles for smartphone screens */

        .table thead{
            display: none;
        }

        .table tr, .table td{
            display: block;
            width: 100%;
        }

        .table tr{
            margin-bottom: 1rem;
        }

        .table tbody tr td{
            text-align: right;
            position: relative;
        }

        .table td::before{
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            text-align: left;
            padding: 1.2rem;
        }

        .content-card-benefit ol{
            width: 80%;
        }
    }

   @media (min-width: 768px) and (max-width: 1200px) {
    
     /* Specific styles for Tablet screens */

    .content1{
        flex-direction: row;
        width: 70%;
        height: 300px;
    }

    .info{
        width:50%;
    }

    .content_raffle{
        flex-direction: row;
    }

    .content-card-benefit{
        flex-direction: row;
        width: 80%;
        height: 300px;
    }
    
}

@media (min-width: 1200px) {
    /* Specific styles for notebook and PC screens */

    nav{
        flex-direction: row;
    }
    
    .content1{
        flex-direction: row;
        width: 50%;
        height: 300px;
    }
    .info{
        width: 30%;
    }
    
    
     footer {
         color: red;
     }

     .content-card-benefit{
        flex-direction: row;
        width: 50%;
        height: 300px;
     }

     .content_raffle{
        flex-direction: row;
     }

}

/*Media query*/




